{% macro buttonlink(caption, url) %}
<a href="{{url}}" class="button">
    <span class="button-outer-top"></span>
    <span class="button-outer-bottom"></span>
    <span class="button-inner">{{caption}}</span>
</a>{% endmacro %}
