.flag {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flag-image {
    margin-right: 10px;
}

@media (min-width: 950px) {
    .flag-image {
        margin-right: 20px;
    }
}

.flag-text {
    white-space: nowrap;
}