.link, .link:visited {
    color: var(--color-link);
    text-decoration: underline;
}

.link:hover, .link:active {
    background-color: var(--color-link-background);
}

.link-white, .link-white:visited {
    color: var(--color-text-highlight);
}

.link-white:hover, .link-white:active {
    background-color: var(--color-highlight-background);
}