.menuitem {
    font-family: var(--font-body);
    font-size: 2.4rem;
    font-weight: 600;
}

@media (min-width: 700px) {
    .menuitem {
        font-size: 2.1rem;
        min-height: 44px;
    }
}

@media (min-width: 950px) {
    .menuitem {
        font-size: 2.4rem;
        min-height: none;
    }
}

.menulink {
    display: block;
    padding: 10px 10px 10px 44px;
    color: var(--color-white);
    transition: background-color .15s;
}

@media (min-width: 700px) {
    .menulink {
        padding: 5px;
        line-height: 44px;
    }
}

@media (min-width: 950px) {
    .menulink {
        padding: 10px;
        line-height: inherit;
    }
}

.menulink-icon {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 10px;
}

@media (min-width: 700px) {
    .menulink-icon {
        font-size: 0px;
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        background-position: 50% 50%;
    }
}

.menulink-icon-github {
    background-image: url('../../assets/images/svg/github.svg');
}

.menulink-icon-email {
    background-image: url('../../assets/images/svg/email.svg');
}

.menulink-icon-linkedin {
    background-image: url('../../assets/images/svg/linkedin.svg');
}

.menulink-icon-codepen {
    background-image: url('../../assets/images/svg/codepen.svg');
}