.project {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}

.project-image {
    width: 100%;
}

.project-namecontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-transparentblack);
    text-align: center;
    padding: 10px;
    transition: padding-bottom .15s;
}

.project-hover:hover > .project-namecontainer {
    padding-bottom: 30px;
}

