.project {
    width: 100%;
    max-width: 1200px;
    display: block;
}

.project-imagecontainer {
    display: flex;
}

.project-image {
    width: 100%;
}

.project-namecontainer {
    background-color: var(--color-highlight-background);
    text-align: left;
    padding: 10px;
    display: block;
}
