.tagblock-item {
    font-family: var(--font-body);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-darkgrey);
}

@media (min-width: 950px) {
    .tagblock-item {
        font-size: 1.8rem;
    }
}