.usercontent {
    font-family:  var(--font-body);
    font-size: 1.6rem;
    color: var(--color-gray-30);
    line-height: 1.5;
}

@media (min-width: 950px) {
    .usercontent {
        font-size: 1.8rem;
    }
}

.usercontent h1 {
    font-family: var(--font-heading);
    color: var(--color-primary-70);
    font-size: 3rem;
    font-weight: 600;
}

.usercontent h2 {
    font-family: var(--font-heading);
    color: var(--color-primary-70);
    font-size: 2.4rem;
    font-weight: 800;
    margin: .75em 0;
}

.usercontent h3 {
    font-family: var(--font-heading);
    color: var(--color-secondary-72);
    font-size: 2.1rem;
    font-weight: 600;
    margin: .75em 0;
}

.usercontent h4 {
    font-weight: 700;
    margin: .5em 0;
}

.usercontent p + p {
    margin-top: 1em;
}

.usercontent li::before {
    background-image: url('../../assets/images/svg/empty-square.svg');
    background-size: 15px 15px;
    height: 15px;
    width: 24px;
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
}

.usercontent ul {
    margin-left: 1em;
}

@media (min-width: 950px) {
    .usercontent h1 {
        font-size: 3.6rem;
    }

    .usercontent h2 {
        font-size: 3rem;
    }
}