@font-face {
    font-family: 'Oxanium';
    src: url('../../assets/fonts/Oxanium-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Oxanium-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxanium';
    src: url('../../assets/fonts/Oxanium-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Oxanium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

