.txt {
    font-family:  var(--font-body);
    font-size: 1.6rem;
    color: var(--color-gray-30);
    line-height: 1.5;
}

@media (min-width: 950px) {
    .txt {
        font-size: 1.8rem;
    }
}

.txt-pagetitle {
    font-family: var(--font-heading);
    font-weight: 600;
    text-decoration: none;
    font-size: 3.6rem;
    color: var(--color-lightprimary);
    text-transform: lowercase;
}

@media (min-width: 700px) {
    .txt-pagetitle {
        font-size: 3rem;
    }
}

@media (min-width: 950px) {
    .txt-pagetitle {
        font-size: 4.8rem;
    }
}

.txt-white {
    color: var(--color-white);
}

.heading {
    font-family: var(--font-heading);
}

.heading-1 {
    font-size: 6.3rem;
    font-weight: 800;
    letter-spacing: -.2rem;
}

.heading-2 {
    font-size: 3rem;
    font-weight: 700;
}

.heading-3 {
    font-size: 2.1rem;
    font-weight: 600;
}

.heading-primary {
    color: var(--color-primary-70);
}

.heading-secondary {
    color: var(--color-secondary-72);
}

.heading-white {
    color: var(--color-white);
}

@media (min-width: 950px) {
    .heading-1 {
        font-size: 6.3rem;
    }

    .heading-2 {
        font-size: 3.6rem;
    }
}