:root {
    --color-menu-bar-gradient-start: #960520;
    --color-menu-bar-gradient-end: #c1134b;

    --color-heading-primary: #b3043b;
    --color-heading-secondary: #0b73b8;

    --color-button-inner-start: #06436c;
    --color-button-inner-end: #18669b;
    --color-button-outer: #b7def1;

    --color-highlight-background: #0b73b8;
    
    --color-text-normal: #4d4347;
    --color-text-highlight: #fef7fa;

    --color-link: #0b73b8;
    --color-link-background: #b7def1;

    --color-tier-background: #f7fcff;
    --color-tier-aside-background: #e1edf6;

    --color-content-well-background: #e8e6e6;

    --font-heading: 'Oxanium', 'Helvetica', sans-serif;
    --font-body: 'Open Sans', 'Helvetica', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}