<div className="headerlist">
    <div className="headerlist-item">
        <a href="/" className="link-homepage">
            <div className="flag">
                <div className="flag-image">
                    <img src={LogoUrl} alt="A heart made of 81 squares" width="61" height="61" />
                </div>
            </div>
        </a>
    </div>
    <div className="mix-hideondesktop headerlist-item">
        <button type="button" className="menubutton" onClick={toggleMenu}>Menu</button>
    </div>
    <div className="hi">
        <nav className="menu" id="menu">
            <div>
                <ul className="submenu">
                    <li className="menuitem"><a className="menulink" href="/projects">Projects</a></li>
                    <li className="menuitem"><a className="menulink" href="/static/about">About Me</a></li>
                    <li className="menuitem"><a className="menulink" href="/static/resume">Resume</a></li>
                </ul>
            </div>
            <div className="submenu-maxspace">
                <ul className="submenu">
                    <li className="menuitem">
                        <a href="http://www.github.com/markgoetz" className="menulink menulink-icon menulink-icon-github">Github</a>
                        <a href="http://www.linkedin.com/in/markgoetz" className="menulink menulink-icon menulink-icon-github">LinkedIn</a>
                        <a href="https://codepen.io/markgoetz" className="menulink menulink-icon menulink-icon-codepen">CodePen</a>
                        <a href="mailto:mark@markandrewgoetz.com" className="menulink menulink-icon menulink-icon-email">Email</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>