<html>
    <head>
        <title>Mark Goetz | {{ title }}</title>
        <link href="/index.css" rel="stylesheet" />
    </head>
    <body>
        <header className="menubar">
            {% include "header.njk" %}
        </header>
        <main className="main">
            <div className="content">
                {{ content | safe }}
            </div>
        </main>
        <footer className="menubar">
            <div className="mix-centered">
                <p className="txt txt-white">
                    Copyright 2022 Mark Goetz. All rights reserved
                    &nbsp;•&nbsp;
                    Built with <a className="link link-white" href="https://www.11ty.dev/">11ty</a>
                </p>
            </div>
        </footer>
    </body>
</html>