---
layout: layout.njk
---
<div class="tier tier-lightbackground">
    <h1 class="heading heading-1 heading-primary">{{title}}</h1>
    <div class="spacer" />
    <main class="usercontent">
        {{ content | safe }}
    </main>
</div>
