:root {
  --family-body: "Work Sans", sans-serif;
  --family-heading: "Zilla Slab", monospace;
  --color-primary: #b3043b;
  --color-secondary: #0499aa;
  --color-secondary-light: #f9fffe;
  --color-link: #0b73b8;
  --color-tertiary: #6c7075;
  --color-lightest: #bebfc1;
  --color-body: #302327;
}

html {
  margin: 0;
}

html,
body {
  min-height: 100%;
  font-family: var(--family-body);
  font-weight: 350;
  color: var(--color-body);
  background-color: var(--color-secondary-light);
  outline-color: var(--color-secondary);
}

body {
  font-size: 1rem;
  line-height: 1.4;
  padding: 1.5rem;

  @media (min-width: 600px) {
    padding: 2rem;
    font-size: 1.25rem;
  }

  background-image: url("/heart-logo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom 0.5rem right 0.5rem;
  background-size: 5rem;

  @media (min-width: 600px) {
    background-position: bottom 2rem right 2rem;
    background-size: unset;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;
  background-image:
    linear-gradient(
      in oklch to left,
      var(--color-primary),
      var(--color-secondary)
    ),
    linear-gradient(var(--color-lightest), var(--color-lightest));
  background-size:
    0% 2px,
    100% 2px;
  background-repeat: no-repeat;
  background-position:
    0 90%,
    0 90%;
  background-color: transparent;

  transition:
    background-size 0.2s cubic-bezier(0.64, 0, 0.78, 0),
    background-color 0.1s ease-in;
}

a:hover,
a:focus {
  background-size:
    100% 2px,
    100% 2px;
  background-image:
    linear-gradient(
      in oklch to left,
      var(--color-primary),
      var(--color-secondary)
    ),
    linear-gradient(var(--color-lightest), var(--color-lightest));
  background-color: rgb(from var(--color-secondary) r g b / 0.1);
}

ul,
ol {
  padding-left: 1.25rem;
}

.heading-1 {
  font-family: var(--family-heading);
  font-weight: 600;
  margin: 0 0 1rem;
  line-height: 1;
  color: var(--color-primary);

  @media (min-width: 600px) {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-family: var(--family-heading);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-secondary);
}

.heading-3 {
  font-family: var(--family-heading);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-tertiary);
}
