.layout {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: 5rem 1fr;
  grid-template-areas:
    "date headline"
    "date lede";

  & .dateContainer {
    grid-area: date;
    height: 5rem;
    background-color: var(--color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;

    & time {
      font-family: var(--family-heading);
      font-size: 1.25rem;
      color: var(--color-secondary-light);
      text-align: center;
      font-weight: 400;
    }
  }

  & .titleContainer {
    grid-area: headline;
    margin: 0;
  }

  & .heading-1 {
    font-family: var(--family-heading);
    font-size: 1.75rem;
    font-weight: 600;
  }

  & .heading-2 {
    font-family: var(--family-heading);
    font-size: 1.75rem;
    font-weight: 600;
  }

  & .content {
    grid-area: lede;
    margin: 0;
  }
}
