.headerlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    transition: height .2s;
    flex-wrap: wrap;
}

@media (min-width: 700px) {
    .headerlist {
        flex-wrap: nowrap;
    }

    .headerlist > * + * {
        margin-left: 20px;
    }
}

@media (min-width: 950px) {
    .headerlist > * + * {
        margin-left: 20px;
    }
}

.headerlist-item-maxwidth {
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 950px) {
    .headerlist-item-maxwidth {
        width: auto;
    }
}

@media (min-width: 950px) {
    .headerlist-item-desktop-spacing {
        margin-left: 20px;
    }
}