.vlist {
    display: flex;
    flex-direction: column;
}

.vlist-centeritems {
    align-items: center;
}

.vlist-xsmall > * + * {
    margin-top: 10px;
}

.vlist-small > * + * {
    margin-top: 15px;
}

.vlist-large > * + * {
    margin-top: 20px;
}

@media (min-width: 950px) {
    .vlist-small > * + * {
        margin-top: 25px;
    }

    .vlist-large > * + * {
        margin-top: 50px;
    }
}

.hlist {
    display: flex;
    flex-direction: row;
}

.hlist-centeritems {
    align-items: center;
}

.hlist-small > * + * {
    margin-left: 10px;
}

.hlist-large > * + * {
    margin-left: 20px;
}

.hlist-maxwidth {
    justify-content: space-between;
    width: 100%;
}

.hlist-wrap {
    flex-wrap: wrap;
}

.hlistitem-maxspace {
    flex-grow: 1;
}

.hlistitem-rightside {
    text-align: right;
}

@media (min-width: 950px) {
    .hlist-small > * + * {
        margin-left: 25px;
    }

    .hlist-large > * + * {
        margin-left: 50px;
    }
}