.tier {
    margin: 10px;
    padding: 20px;
}

.tier-lightbackground {
    background-color: var(--color-lightgrey);
}

.tier-darkbackground {
    background-color: var(--color-darkgrey);
    color: white;
}

@media (min-width: 950px) {
    .tier {
        margin: 30px auto;
        padding: 30px;
    }

    .tier-max900 {
        max-width: 900px;
    }
}

.tier-nomargin {
    margin: 0;
}