.tier {
    margin: 10px;
    padding: 20px;
}

.tier-lightbackground {
    background-color: var(--color-lightgrey);
    transition: box-shadow .1s;
    box-shadow: inset 0px 0px var(--color-bright), inset 0px 0px var(--color-deep);
}

.tier-lightbackground:hover {
    box-shadow: inset 5px 0px var(--color-bright), inset -5px 0px var(--color-deep);
}

.tier-darkbackground {
    background-color: var(--color-darkgrey);
    color: white;
}

@media (min-width: 950px) {
    .tier {
        margin: 30px auto;
        padding: 30px;
    }

    .tier-max900 {
        max-width: 900px;
    }
}

.tier-nomargin {
    margin: 0;
}