.tier {
    padding: 20px;
}

.tier-lightbackground {
    background-color: var(--color-tier-background);
}

.tier-darkbackground {
    background-color: var(--color-tier-aside-background);
}

@media (min-width: 950px) {
    .tier {
        margin: 0 auto;
        padding: 30px;
    }
}

.tier-diagonalbackground {
    background-image: url('../../assets/images/svg/diagonal-square.svg');
    background-size: 18rem 17.7rem;
    background-repeat: no-repeat;
    background-position: 50% calc(100% - 2.4rem);
}

@media (min-width: 700px) {
    .tier-diagonalbackground {
        background-size: 36rem 35.4rem;
        background-position: calc(100% - 6rem) 50%;
    }
}
